


.content{
  margin:  auto; 
  padding: 40px 0px 40px 0px; 
   border-bottom: 1px ridge;
  min-height: 300px;
  background-color:#E3F2FD;
  
}
.footer{
    background-color:#9E9E9E;
    color: floralwhite;
    margin: 0px auto;
    padding: 20px;
}
.jumbotron{
    padding: 50px;
    background-color: #BDBDBD;
    color:floralwhite;
   
}


.navbar-style{
    background-color: #424242;
    border-bottom: none;
    width: 100%;
    
}

.li-style{
   list-style: none;
  display: inline-block;
  border-left: 1px ridge;
  padding: 3px 30px 10px 30px;
  /* margin-top: 16px; */
   }

