.jumbotron{
    background-color:darkcyan;
    margin: 2px auto;
    color: floralwhite;
}
.footer{
    background-color: rosybrown;
    color: floralwhite;
    margin: 0px auto;
    padding: 20px;
}
.row-content{
    padding: 40px;
    margin: 0px auto;
    color: turquoise;

}
.a-style{
    color: black;
}
.navbar-style{
    background-color: darkgray;
    border-bottom: none;
    width: 100%;
    height: 60px;
}
a:hover{
    background-color:royalblue;
}
.li-style{
   list-style: none;
  display: inline-block;
  border-left: 1px ridge;
  padding: 10px 30px 10px 30px;
  /* margin-top: 16px; */
  height: 60px; 